<app-section-description title="Banks"></app-section-description>

<input [(ngModel)]="search" type="search" class="form-control fc-search search-input" placeholder="Search...">

<table class="table">
  <thead class="table-dark">
      <tr>
          <th>#</th>
          <th>Bank Name</th>
          <th>IBAN</th>
          <th>Currency Type</th>
          <th>Inflow</th>
          <th>Outflow</th>
          <th>Balance</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      @for (bank of banks | bank:search; track bank) {
        <tr>
          <td>{{$index+1}}</td>
          <td>{{bank.name}}</td>
          <td>{{bank.iban}}</td>
          <td>{{bank.currencyType.name}}</td>
          <td>{{bank.depositAmount | currency: changeCurrencyNameToSymbol(bank.currencyType.name)}}</td>
          <td>{{bank.withdrawalAmount | currency: changeCurrencyNameToSymbol(bank.currencyType.name)}}</td>
          <td>
            <span [ngClass]="bank.depositAmount > bank.withdrawalAmount ? 'text-success' : 'text-danger'">
                {{(bank.depositAmount - bank.withdrawalAmount)| currency: changeCurrencyNameToSymbol(bank.currencyType.name)}}
            </span>
          </td>
          <td>
            <button routerLink="/banks/details/{{bank.id}}" class="btn btn-dark btn-sm">Details</button>
            <button (click)="get(bank)" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
            <button (click)="delete(bank)" class="btn btn-danger btn-sm">Delete</button>
          </td>
      </tr>
      }
  </tbody>
</table>



<!-- Create Modal -->
<div class="modal fade" id="createModal" aria-hidden="true" aria-labelledby="createModalLabel" tabindex="-1">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Bank Create Form</h5>
        <button type="button" #createModalCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <form #createForm="ngForm" (ngSubmit)="create(createForm)" autocomplete="off">
      <div class="modal-body">
        <div class="form-group">
          <label>Bank Name</label>
          <input [(ngModel)]="createModel.name" type="text" class="form-control" name="name" required>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>IBAN</label>
          <input [(ngModel)]="createModel.iban" type="text" class="form-control" name="iban" minlength="26" maxlength="26" required>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Currency Type</label>
          <select [(ngModel)]="createModel.currencyType" class="form-control" name="currencyType" required>
            @for (type of currencyTypes; track type) {
              <option [value]="type.value">{{type.name}}</option>
            }
          </select>
          <div class="invalid-feedback"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark w-100">Create</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" aria-hidden="true" aria-labelledby="updateModalLabel" tabindex="-1">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Cash Register Update Form</h5>
        <button type="button" #updateModalCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <form #updateForm="ngForm" (ngSubmit)="update(updateForm)" autocomplete="off">
        <div class="modal-body">
          <div class="form-group">
            <label>Bank Name</label>
            <input [(ngModel)]="updateModel.name" type="text" class="form-control" name="name" required>
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>IBAN</label>
            <input [(ngModel)]="updateModel.iban" type="text" class="form-control" name="iban" minlength="26" maxlength="26" required>
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Currency Type</label>
            <select [(ngModel)]="updateModel.currencyTypeValue" class="form-control" name="currencyTypeValue" required>
              @for (type of currencyTypes; track type) {
                <option [value]="type.value">{{type.name}}</option>
              }
            </select>
            <div class="invalid-feedback"></div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark w-100">Update</button>
      </div>
    </form>
    </div>
  </div>
</div>
