<div class="app-header">
  <nav class="navbar navbar-light navbar-expand-lg container">
      <div class="container-fluid">
          <div class="navbar-nav" id="navbarNav">
              <div class="logo">
                  <a href="index.html">Neptune</a>
              </div>
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link hide-sidebar-toggle-button" href="#"><i class="material-icons">last_page</i></a>
                  </li>
                  <li class="nav-item dropdown hidden-on-mobile">
                      <a class="nav-link dropdown-toggle" href="#" id="addDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="material-icons">add</i>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="addDropdownLink">
                          <li><a class="dropdown-item" href="#">New Workspace</a></li>
                      </ul>
                  </li>
              </ul>

          </div>
          <div class="d-flex">
              <ul class="navbar-nav">
                  <li class="nav-item hidden-on-mobile">
                      <a class="nav-link active" href="#">Applications</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link toggle-search" href="#"><i class="material-icons">search</i></a>
                  </li>
                  <li class="nav-item hidden-on-mobile">
                      <a class="nav-link nav-notifications-toggle" id="notificationsDropDown" href="#" data-bs-toggle="dropdown">4</a>
                      <div class="dropdown-menu dropdown-menu-end notifications-dropdown" aria-labelledby="notificationsDropDown">
                          <h6 class="dropdown-header">Notifications</h6>
                          <div class="notifications-dropdown-list">
                              <a href="#">
                                  <div class="notifications-dropdown-item">
                                      <div class="notifications-dropdown-item-image">
                                          <span class="notifications-badge bg-info text-white">
                                              <i class="material-icons-outlined">campaign</i>
                                          </span>
                                      </div>
                                      <div class="notifications-dropdown-item-text">
                                          <p class="bold-notifications-text">Donec tempus nisi sed erat vestibulum, eu suscipit ex laoreet</p>
                                          <small>19:00</small>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</div>
