<app-search></app-search>
<app-header></app-header>
<app-menu></app-menu>

<div class="app-content">
  <div class="content-wrapper">
    <div class="container">
      <app-page-description
      [pageTitle]="pageTitle"
      [pageDescription]="pageDescription"
      ></app-page-description>
      <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                  <div class="example-container">
                      <div class="example-content bg-light">
                          <router-outlet></router-outlet>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

