<div class="app-menu">
  <div class="container">
    <ul class="menu-list">
      <ng-container *ngFor="let menu of menus">
        <ng-template [ngTemplateOutlet]="recursiveMenu" [ngTemplateOutletContext]="{ $implicit: menu }"></ng-template>
      </ng-container>
    </ul>
  </div>
</div>

<ng-template #recursiveMenu let-menu>
  <li>
    <ng-container *ngIf="!menu.noUrl; else noLink">
        <a [routerLink]="menu.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          {{ menu.title }}
          <i *ngIf="menu.subMenus?.length > 0" class="material-icons has-sub-menu">keyboard_arrow_down</i>
        </a>
    </ng-container>
    <ng-template #noLink>
      <a [ngClass]="{'active': isActive(menu)}">{{ menu.title }}</a>
    </ng-template>

    <ul class="sub-menu" *ngIf="menu.subMenus?.length > 0">
      <ng-container *ngFor="let sub of menu.subMenus">
        <ng-template [ngTemplateOutlet]="recursiveMenu" [ngTemplateOutletContext]="{ $implicit: sub }"></ng-template>
      </ng-container>
    </ul>
  </li>
</ng-template>
