<app-section-description title="Users"></app-section-description>

<input [(ngModel)]="search" type="search" class="form-control fc-search search-input" placeholder="Search...">

<table class="table">
  <thead class="table-dark">
      <tr>
          <th>#</th>
          <th>FullName</th>
          <th>UserName</th>
          <th>Email</th>
          <td>Company</td>
          <td>Is Admin</td>
          <th>Transactions</th>
      </tr>
  </thead>
  <tbody>
      @for (user of users | user:search; track user) {
        <tr>
          <th>{{$index+1}}</th>
          <th>{{user.fullName}}</th>
          <th>{{user.userName}}</th>
          <th>{{user.email}}</th>
          <th (click)="showServers(user.companyUsers)">Servers</th>
          <th>
            <span [ngClass]="user.isAdmin | adminStatusClass">
              {{ user.isAdmin | adminStatus }}
            </span>
          </th>
          <th>
            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="get(user)">Update</button>
            <button (click)="delete(user)" class="btn btn-danger btn-sm">Delete</button>
          </th>
      </tr>
      }
  </tbody>
</table>



<!-- Create Modal -->
<div class="modal fade" id="createModal" aria-hidden="true" aria-labelledby="createModalLabel"  tabindex="-1">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">User Create Form</h5>
        <button type="button" #createModalCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #createForm="ngForm" (ngSubmit)="create(createForm)" autocomplete="off">
      <div class="modal-body">
        <div class="form-group">
          <label>Ad</label>
          <input [(ngModel)]="createModel.firstName" type="text" class="form-control" name="firstName" required minlength="3">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Soyad</label>
          <input [(ngModel)]="createModel.lastName" type="text" class="form-control" name="lastName" required minlength="3">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Kullanıcı Adı</label>
          <input [(ngModel)]="createModel.userName" type="text" class="form-control" name="userName" required minlength="3">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Mail Adresi</label>
          <input [(ngModel)]="createModel.email" type="email" class="form-control" name="email" required minlength="3">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Şifre</label>
          <input [(ngModel)]="createModel.password" type="password" class="form-control" name="password" required minlength="3">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Companies</label>
          <select [(ngModel)]="createModel.companyIds" name="companyIds" class="form-control" multiple required>
            @for (company of companies; track company) {
              <option [value]="company.id">{{company.name}}</option>
            }
          </select>
        </div>
        <div class="form-check">
          <input [(ngModel)]="createModel.isAdmin" type="checkbox" class="form-check-input" name="isAdmin">
          <label class="form-check-label">Are you an admin?</label>
          <div class="invalid-feedback"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark w-100">Kaydet</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" aria-hidden="true" aria-labelledby="updateModalLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">User Update Form</h5>
        <button type="button" #updateModalCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #updateForm="ngForm" (ngSubmit)="update(updateForm)" autocomplete="off">
      <div class="modal-body">
        <div class="form-group">
          <label>Ad</label>
          <input [(ngModel)]="updateModel.firstName" type="text" class="form-control" name="firstName" required minlength="3">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Soyad</label>
          <input [(ngModel)]="updateModel.lastName" type="text" class="form-control" name="lastName" required minlength="3">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Kullanıcı Adı</label>
          <input [(ngModel)]="updateModel.userName" type="text" class="form-control" name="userName" required minlength="3">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Mail Adresi</label>
          <input [(ngModel)]="updateModel.email" type="email" class="form-control" name="email" required minlength="3">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Şifre</label>
          <input [(ngModel)]="updateModel.password" type="password" class="form-control" name="password">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>Companies</label>
          <select [(ngModel)]="updateModel.companyIds" name="companyIds" class="form-control" multiple required>
            @for (company of companies; track company) {
              <option [value]="company.id">{{company.name}}</option>
            }
          </select>
        </div>
        <div class="form-check">
          <input [(ngModel)]="updateModel.isAdmin" type="checkbox" class="form-check-input" name="isAdmin">
          <label class="form-check-label">Are you an admin?</label>
          <div class="invalid-feedback"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark w-100">Güncelle</button>
      </div>
    </form>
    </div>
  </div>
</div>
